In [2]:
! ls -l *.csv

-rw-r--r--  1 grizzlystudio  staff  1160157683 Mar 19 12:52 LoanStats_web.csv

In [3]:
file_path = "/Users/grizzlystudio/Library/Mobile Documents/com~apple~CloudDocs/Download_ALL_Apple/github/2024-NT-Python-and-PowerBI/dev/inclass/LoanStats_web.csv"

In [6]:
import pandas as pd

df = pd.read_csv(file_path, sep=',',low_memory=False, header=0)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1432466 entries, 0 to 1432465
Columns: 144 entries, id to settlement_term
dtypes: float64(106), object(38)
memory usage: 1.5+ GB

In [9]:
# สร้าง DataFrame ใหม่ที่มีเฉพาะคอลัมน์ที่จำเป็น
df_filtered = df[['application_type', 'annual_inc', 'annual_inc_joint', 'dti', 'dti_joint', 'emp_length']]

# ตรวจสอบข้อมูลหลังจากการกรอง
print(df_filtered.head())

  application_type  annual_inc  annual_inc_joint    dti  dti_joint emp_length
0       Individual     53000.0               NaN  20.99        NaN    6 years
1       Individual     52000.0               NaN  18.86        NaN    9 years
2       Individual     73000.0               NaN  10.85        NaN    5 years
3       Individual    138000.0               NaN  12.44        NaN  10+ years
4       Individual    134000.0               NaN  25.69        NaN  10+ years

In [10]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1432466 entries, 0 to 1432465
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   application_type  1432440 non-null  object
 1   annual_inc        1432440 non-null  float64
 2   annual_inc_joint  112083 non-null   float64
 3   dti               1430856 non-null  float64
 4   dti_joint         112081 non-null   float64
 5   emp_length        1323970 non-null  object
dtypes: float64(4), object(2)
memory usage: 65.6+ MB

In [11]:
df_filtered.groupby('emp_length').size()

emp_length
1 year        95926
10+ years    478304
2 years      130251
3 years      116802
4 years       86767
5 years       88686
6 years       62261
7 years       48965
8 years       51222
9 years       46393
< 1 year     118393
dtype: int64

In [12]:
# แทนที่ค่า null ในคอลัมน์ 'emp_length' ด้วย 'N/A'
df_filtered['emp_length'] = df_filtered['emp_length'].fillna('N/A')

# ตรวจสอบการกระจายของค่าในคอลัมน์ 'emp_length' อีกครั้งเพื่อยืนยันการแทนที่
emp_length_distribution = df_filtered['emp_length'].value_counts()

# แสดงการกระจายของค่า
print(emp_length_distribution)

emp_length
10+ years    478304
2 years      130251
< 1 year     118393
3 years      116802
N/A          108496
1 year        95926
5 years       88686
4 years       86767
6 years       62261
8 years       51222
7 years       48965
9 years       46393
Name: count, dtype: int64

/var/folders/77/kb3ytnf93qd_ccggvdrcr2dw0000gn/T/ipykernel_1862/2962057706.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_filtered['emp_length'] = df_filtered['emp_length'].fillna('N/A')

In [14]:
df_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1432466 entries, 0 to 1432465
Data columns (total 6 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   application_type  1432440 non-null  object
 1   annual_inc        1432440 non-null  float64
 2   annual_inc_joint  112083 non-null   float64
 3   dti               1430856 non-null  float64
 4   dti_joint         112081 non-null   float64
 5   emp_length        1432466 non-null  object
dtypes: float64(4), object(2)
memory usage: 65.6+ MB

In [15]:
# ใช้ .isnull() เพื่อหาแถวที่ 'dti' เป็น null
dti_null_rows = df_filtered[df_filtered['dti'].isnull()]

# แสดงจำนวนแถวที่ 'dti' เป็น null
print(f"Number of rows where 'dti' is null: {dti_null_rows.shape[0]}")

# ถ้าคุณต้องการดูข้อมูลจากแถวเหล่านั้นเพื่อวิเคราะห์เพิ่มเติม
if dti_null_rows.shape[0] > 0:
    print(dti_null_rows.head()) # แสดง 5 แถวแรกที่ 'dti' เป็น null

Number of rows where 'dti' is null: 1610
      application_type  annual_inc  annual_inc_joint  dti  dti_joint  \
449          Joint App         0.0           40000.0  NaN      13.65
2224         Joint App         0.0          115000.0  NaN      20.20
5419         Joint App         0.0           56000.0  NaN      30.30
10851        Joint App         0.0           65000.0  NaN       8.71
16023        Joint App         0.0           50000.0  NaN       9.84

      emp_length
449          N/A
2224         N/A
5419         N/A
10851        N/A
16023        N/A

In [16]:
# เรียงข้อมูลตาม 'annual_inc_joint' จากน้อยไปมาก โดยที่แถวที่มีค่า null จะถูกจัดไว้ท้ายสุด
sorted_df_joint = df_filtered.sort_values(by='annual_inc_joint', na_position='last')

# แสดงผลลัพธ์บางส่วนเพื่อตรวจสอบ
print(sorted_df_joint[['application_type', 'annual_inc_joint']].head())

        application_type  annual_inc_joint
1055684        Joint App           5693.51
1294197        Joint App           9000.00
229234         Joint App          11000.00
1010011        Joint App          12500.00
336502         Joint App          13470.00