In [1]:
import re
import pandas as pd

In [2]:
### กำหนด data type ที่เหมาะสมกับ attribute values (Custom data types) ###


def guess_column_types(file_path, delimiter=',', has_headers=True):
    try:
        # Read the CSV file using the specified delimiter and header settings
        df = pd.read_csv(file_path, sep=delimiter,low_memory=False, header=0 if has_headers else None)

        # Initialize a dictionary to store column data types
        column_types = {}

        # Loop through columns and infer data types
        for column in df.columns:
            # sample_values = df[column].dropna().sample(min(5, len(df[column])), random_state=42)

            # Check for datetime format "YYYY-MM-DD HH:MM:SS"
            is_datetime = all(re.match(r'\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}', str(value)) for value in df[column])

            # Check for date format "YYYY-MM-DD"
            is_date = all(re.match(r'\d{4}-\d{2}-\d{2}', str(value)) for value in df[column])

            # Assign data type based on format detection
            if is_datetime:
                inferred_type = 'datetime64'
            elif is_date:
                inferred_type = 'date'
            else:
                inferred_type = pd.api.types.infer_dtype(df[column], skipna=True)

            column_types[column] = inferred_type

        return (True, column_types)  # Return success and column types
    except pd.errors.ParserError:
        return (False, str(e))  # Return error message

In [3]:
file_path = '../data/LoanStats_web.csv'
result, column_types_or_error = guess_column_types(file_path)

if result:
    print("Column Types:", column_types_or_error)
else:
    print("Error:", column_types_or_error)

Column Types: {'id': 'string', 'member_id': 'floating', 'loan_amnt': 'floating', 'funded_amnt': 'floating', 'funded_amnt_inv': 'floating', 'term': 'string', 'int_rate': 'string', 'installment': 'floating', 'grade': 'string', 'sub_grade': 'string', 'emp_title': 'string', 'emp_length': 'string', 'home_ownership': 'string', 'annual_inc': 'floating', 'verification_status': 'string', 'issue_d': 'string', 'loan_status': 'string', 'pymnt_plan': 'string', 'url': 'floating', 'desc': 'string', 'purpose': 'string', 'title': 'string', 'zip_code': 'string', 'addr_state': 'string', 'dti': 'floating', 'delinq_2yrs': 'floating', 'earliest_cr_line': 'string', 'inq_last_6mths': 'floating', 'mths_since_last_delinq': 'floating', 'mths_since_last_record': 'floating', 'open_acc': 'floating', 'pub_rec': 'floating', 'revol_bal': 'floating', 'revol_util': 'string', 'total_acc': 'floating', 'initial_list_status': 'string', 'out_prncp': 'floating', 'out_prncp_inv': 'floating', 'total_pymnt': 'floating', 'total_pymnt_inv': 'floating', 'total_rec_prncp': 'floating', 'total_rec_int': 'floating', 'total_rec_late_fee': 'floating', 'recoveries': 'floating', 'collection_recovery_fee': 'floating', 'last_pymnt_d': 'string', 'last_pymnt_amnt': 'floating', 'next_pymnt_d': 'string', 'last_credit_pull_d': 'string', 'collections_12_mths_ex_med': 'floating', 'mths_since_last_major_derog': 'floating', 'policy_code': 'floating', 'application_type': 'string', 'annual_inc_joint': 'floating', 'dti_joint': 'floating', 'verification_status_joint': 'string', 'acc_now_delinq': 'floating', 'tot_coll_amt': 'floating', 'tot_cur_bal': 'floating', 'open_acc_6m': 'floating', 'open_act_il': 'floating', 'open_il_12m': 'floating', 'open_il_24m': 'floating', 'mths_since_rcnt_il': 'floating', 'total_bal_il': 'floating', 'il_util': 'floating', 'open_rv_12m': 'floating', 'open_rv_24m': 'floating', 'max_bal_bc': 'floating', 'all_util': 'floating', 'total_rev_hi_lim': 'floating', 'inq_fi': 'floating', 'total_cu_tl': 'floating', 'inq_last_12m': 'floating', 'acc_open_past_24mths': 'floating', 'avg_cur_bal': 'floating', 'bc_open_to_buy': 'floating', 'bc_util': 'floating', 'chargeoff_within_12_mths': 'floating', 'delinq_amnt': 'floating', 'mo_sin_old_il_acct': 'floating', 'mo_sin_old_rev_tl_op': 'floating', 'mo_sin_rcnt_rev_tl_op': 'floating', 'mo_sin_rcnt_tl': 'floating', 'mort_acc': 'floating', 'mths_since_recent_bc': 'floating', 'mths_since_recent_bc_dlq': 'floating', 'mths_since_recent_inq': 'floating', 'mths_since_recent_revol_delinq': 'floating', 'num_accts_ever_120_pd': 'floating', 'num_actv_bc_tl': 'floating', 'num_actv_rev_tl': 'floating', 'num_bc_sats': 'floating', 'num_bc_tl': 'floating', 'num_il_tl': 'floating', 'num_op_rev_tl': 'floating', 'num_rev_accts': 'floating', 'num_rev_tl_bal_gt_0': 'floating', 'num_sats': 'floating', 'num_tl_120dpd_2m': 'floating', 'num_tl_30dpd': 'floating', 'num_tl_90g_dpd_24m': 'floating', 'num_tl_op_past_12m': 'floating', 'pct_tl_nvr_dlq': 'floating', 'percent_bc_gt_75': 'floating', 'pub_rec_bankruptcies': 'floating', 'tax_liens': 'floating', 'tot_hi_cred_lim': 'floating', 'total_bal_ex_mort': 'floating', 'total_bc_limit': 'floating', 'total_il_high_credit_limit': 'floating', 'revol_bal_joint': 'floating', 'sec_app_earliest_cr_line': 'string', 'sec_app_inq_last_6mths': 'floating', 'sec_app_mort_acc': 'floating', 'sec_app_open_acc': 'floating', 'sec_app_revol_util': 'floating', 'sec_app_open_act_il': 'floating', 'sec_app_num_rev_accts': 'floating', 'sec_app_chargeoff_within_12_mths': 'floating', 'sec_app_collections_12_mths_ex_med': 'floating', 'sec_app_mths_since_last_major_derog': 'floating', 'hardship_flag': 'string', 'hardship_type': 'string', 'hardship_reason': 'string', 'hardship_status': 'string', 'deferral_term': 'floating', 'hardship_amount': 'floating', 'hardship_start_date': 'string', 'hardship_end_date': 'string', 'payment_plan_start_date': 'string', 'hardship_length': 'floating', 'hardship_dpd': 'floating', 'hardship_loan_status': 'string', 'orig_projected_additional_accrued_interest': 'floating', 'hardship_payoff_balance_amount': 'floating', 'hardship_last_payment_amount': 'floating', 'debt_settlement_flag': 'string', 'debt_settlement_flag_date': 'string', 'settlement_status': 'string', 'settlement_date': 'string', 'settlement_amount': 'floating', 'settlement_percentage': 'floating', 'settlement_term': 'floating'}

In [4]:
# เปลี่ยน data type บางตัว ให้เหมาะสมกับ python's environment และ MSSQL
column_types_corrected = {col: ('datetime64' if t == 'date' else 'float64' if t == 'floating' else t) \
                          for col, t in column_types_or_error.items()}

In [5]:
### นำ dictionary ที่บรรจุ ชื่อ col และ data type มาใช้เป็น parameter ของการทำ pd.read_csv ( ) อ่าน csv มาเป็น dataframe ###
raw_df = pd.read_csv('../data/LoanStats_web.csv', dtype=column_types_corrected)

In [6]:
# คำนวน percentage ของ missing values ของแต่ละ col. ใน dataframe (raw_df)
missing_percentage = raw_df.isnull().mean() * 100

# กรอง columns ที่มี null เกินกว่า 30% ออกไป
columns_to_keep = missing_percentage[missing_percentage <= 30].index.tolist()
filteredCol_df = raw_df[columns_to_keep]

In [7]:
raw_df = filteredCol_df

In [8]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1432466 entries, 0 to 1432465
Data columns (total 100 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   loan_amnt                   1432440 non-null  float64
 1   funded_amnt                 1432440 non-null  float64
 2   funded_amnt_inv             1432440 non-null  float64
 3   term                        1432440 non-null  string
 4   int_rate                    1432440 non-null  string
 5   installment                 1432440 non-null  float64
 6   grade                       1432440 non-null  string
 7   sub_grade                   1432440 non-null  string
 8   emp_title                   1302202 non-null  string
 9   emp_length                  1323970 non-null  string
 10  home_ownership              1432440 non-null  string
 11  annual_inc                  1432440 non-null  float64
 12  verification_status         1432440 non-null  string
 13  issue_d                     1432440 non-null  string
 14  loan_status                 1432440 non-null  string
 15  pymnt_plan                  1432440 non-null  string
 16  purpose                     1432440 non-null  string
 17  title                       1409267 non-null  string
 18  zip_code                    1432436 non-null  string
 19  addr_state                  1432440 non-null  string
 20  dti                         1430856 non-null  float64
 21  delinq_2yrs                 1432440 non-null  float64
 22  earliest_cr_line            1432440 non-null  string
 23  inq_last_6mths              1432439 non-null  float64
 24  open_acc                    1432440 non-null  float64
 25  pub_rec                     1432440 non-null  float64
 26  revol_bal                   1432440 non-null  float64
 27  revol_util                  1431251 non-null  string
 28  total_acc                   1432440 non-null  float64
 29  initial_list_status         1432440 non-null  string
 30  out_prncp                   1432440 non-null  float64
 31  out_prncp_inv               1432440 non-null  float64
 32  total_pymnt                 1432440 non-null  float64
 33  total_pymnt_inv             1432440 non-null  float64
 34  total_rec_prncp             1432440 non-null  float64
 35  total_rec_int               1432440 non-null  float64
 36  total_rec_late_fee          1432440 non-null  float64
 37  recoveries                  1432440 non-null  float64
 38  collection_recovery_fee     1432440 non-null  float64
 39  last_pymnt_d                1430623 non-null  string
 40  last_pymnt_amnt             1432440 non-null  float64
 41  last_credit_pull_d          1432416 non-null  string
 42  collections_12_mths_ex_med  1432440 non-null  float64
 43  policy_code                 1432440 non-null  float64
 44  application_type            1432440 non-null  string
 45  acc_now_delinq              1432440 non-null  float64
 46  tot_coll_amt                1432440 non-null  float64
 47  tot_cur_bal                 1432440 non-null  float64
 48  open_acc_6m                 1432378 non-null  float64
 49  open_act_il                 1432379 non-null  float64
 50  open_il_12m                 1432379 non-null  float64
 51  open_il_24m                 1432379 non-null  float64
 52  mths_since_rcnt_il          1388371 non-null  float64
 53  total_bal_il                1432379 non-null  float64
 54  il_util                     1224896 non-null  float64
 55  open_rv_12m                 1432379 non-null  float64
 56  open_rv_24m                 1432379 non-null  float64
 57  max_bal_bc                  1432379 non-null  float64
 58  all_util                    1432191 non-null  float64
 59  total_rev_hi_lim            1432440 non-null  float64
 60  inq_fi                      1432379 non-null  float64
 61  total_cu_tl                 1432378 non-null  float64
 62  inq_last_12m                1432378 non-null  float64
 63  acc_open_past_24mths        1432440 non-null  float64
 64  avg_cur_bal                 1432393 non-null  float64
 65  bc_open_to_buy              1415954 non-null  float64
 66  bc_util                     1415312 non-null  float64
 67  chargeoff_within_12_mths    1432440 non-null  float64
 68  delinq_amnt                 1432440 non-null  float64
 69  mo_sin_old_il_acct          1388426 non-null  float64
 70  mo_sin_old_rev_tl_op        1432440 non-null  float64
 71  mo_sin_rcnt_rev_tl_op       1432440 non-null  float64
 72  mo_sin_rcnt_tl              1432440 non-null  float64
 73  mort_acc                    1432440 non-null  float64
 74  mths_since_recent_bc        1416830 non-null  float64
 75  mths_since_recent_inq       1266039 non-null  float64
 76  num_accts_ever_120_pd       1432440 non-null  float64
 77  num_actv_bc_tl              1432440 non-null  float64
 78  num_actv_rev_tl             1432440 non-null  float64
 79  num_bc_sats                 1432440 non-null  float64
 80  num_bc_tl                   1432440 non-null  float64
 81  num_il_tl                   1432440 non-null  float64
 82  num_op_rev_tl               1432440 non-null  float64
 83  num_rev_accts               1432440 non-null  float64
 84  num_rev_tl_bal_gt_0         1432440 non-null  float64
 85  num_sats                    1432440 non-null  float64
 86  num_tl_120dpd_2m            1376689 non-null  float64
 87  num_tl_30dpd                1432440 non-null  float64
 88  num_tl_90g_dpd_24m          1432440 non-null  float64
 89  num_tl_op_past_12m          1432440 non-null  float64
 90  pct_tl_nvr_dlq              1432438 non-null  float64
 91  percent_bc_gt_75            1415902 non-null  float64
 92  pub_rec_bankruptcies        1432440 non-null  float64
 93  tax_liens                   1432440 non-null  float64
 94  tot_hi_cred_lim             1432440 non-null  float64
 95  total_bal_ex_mort           1432440 non-null  float64
 96  total_bc_limit              1432440 non-null  float64
 97  total_il_high_credit_limit  1432440 non-null  float64
 98  hardship_flag               1432440 non-null  string
 99  debt_settlement_flag        1432440 non-null  string
dtypes: float64(77), string(23)
memory usage: 1.1 GB

In [12]:
raw_df.columns

Index(['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate',
       'installment', 'grade', 'sub_grade', 'emp_title', 'emp_length',
       'home_ownership', 'annual_inc', 'verification_status', 'issue_d',
       'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code',
       'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line',
       'inq_last_6mths', 'open_acc', 'pub_rec', 'revol_bal', 'revol_util',
       'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv',
       'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'last_credit_pull_d',
       'collections_12_mths_ex_med', 'policy_code', 'application_type',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_act_il', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m', 'max_bal_bc',
       'all_util', 'total_rev_hi_lim', 'inq_fi', 'total_cu_tl', 'inq_last_12m',
       'acc_open_past_24mths', 'avg_cur_bal', 'bc_open_to_buy', 'bc_util',
       'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_il_acct',
       'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl',
       'mort_acc', 'mths_since_recent_bc', 'mths_since_recent_inq',
       'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl',
       'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl',
       'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_120dpd_2m',
       'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m',
       'pct_tl_nvr_dlq', 'percent_bc_gt_75', 'pub_rec_bankruptcies',
       'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit',
       'total_il_high_credit_limit', 'hardship_flag', 'debt_settlement_flag'],
      dtype='object')

In [14]:
# สร้างรายการของคอลัมน์ที่มี Non-Null จำนวน 1,432,440
## selected_columns = [col for col in raw_df.columns if raw_df[col].notnull().sum() == 1432440]
selected_columns = [col for col in raw_df.columns if raw_df[col].isnull().sum() <= 26]

# แสดงคอลัมน์ที่เลือก
print("Selected columns:", selected_columns)

# สร้าง DataFrame ใหม่จากคอลัมน์ที่เลือก
df_selected = raw_df[selected_columns]


# ลบแถวที่มีค่า null ในคอลัมน์เหล่านั้น
nullNull_df = df_selected.dropna()

# แสดงข้อมูลทั่วไปของ DataFrame หลังจากลบ null
nullNull_df.info()

Selected columns: ['loan_amnt', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'grade', 'sub_grade', 'home_ownership', 'annual_inc', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'addr_state', 'delinq_2yrs', 'earliest_cr_line', 'open_acc', 'pub_rec', 'revol_bal', 'total_acc', 'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt', 'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int', 'total_rec_late_fee', 'recoveries', 'collection_recovery_fee', 'last_pymnt_amnt', 'collections_12_mths_ex_med', 'policy_code', 'application_type', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'total_rev_hi_lim', 'acc_open_past_24mths', 'chargeoff_within_12_mths', 'delinq_amnt', 'mo_sin_old_rev_tl_op', 'mo_sin_rcnt_rev_tl_op', 'mo_sin_rcnt_tl', 'mort_acc', 'num_accts_ever_120_pd', 'num_actv_bc_tl', 'num_actv_rev_tl', 'num_bc_sats', 'num_bc_tl', 'num_il_tl', 'num_op_rev_tl', 'num_rev_accts', 'num_rev_tl_bal_gt_0', 'num_sats', 'num_tl_30dpd', 'num_tl_90g_dpd_24m', 'num_tl_op_past_12m', 'pub_rec_bankruptcies', 'tax_liens', 'tot_hi_cred_lim', 'total_bal_ex_mort', 'total_bc_limit', 'total_il_high_credit_limit', 'hardship_flag', 'debt_settlement_flag']
<class 'pandas.core.frame.DataFrame'>
Index: 1432440 entries, 0 to 1432463
Data columns (total 68 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   loan_amnt                   1432440 non-null  float64
 1   funded_amnt                 1432440 non-null  float64
 2   funded_amnt_inv             1432440 non-null  float64
 3   term                        1432440 non-null  string
 4   int_rate                    1432440 non-null  string
 5   installment                 1432440 non-null  float64
 6   grade                       1432440 non-null  string
 7   sub_grade                   1432440 non-null  string
 8   home_ownership              1432440 non-null  string
 9   annual_inc                  1432440 non-null  float64
 10  verification_status         1432440 non-null  string
 11  issue_d                     1432440 non-null  string
 12  loan_status                 1432440 non-null  string
 13  pymnt_plan                  1432440 non-null  string
 14  purpose                     1432440 non-null  string
 15  addr_state                  1432440 non-null  string
 16  delinq_2yrs                 1432440 non-null  float64
 17  earliest_cr_line            1432440 non-null  string
 18  open_acc                    1432440 non-null  float64
 19  pub_rec                     1432440 non-null  float64
 20  revol_bal                   1432440 non-null  float64
 21  total_acc                   1432440 non-null  float64
 22  initial_list_status         1432440 non-null  string
 23  out_prncp                   1432440 non-null  float64
 24  out_prncp_inv               1432440 non-null  float64
 25  total_pymnt                 1432440 non-null  float64
 26  total_pymnt_inv             1432440 non-null  float64
 27  total_rec_prncp             1432440 non-null  float64
 28  total_rec_int               1432440 non-null  float64
 29  total_rec_late_fee          1432440 non-null  float64
 30  recoveries                  1432440 non-null  float64
 31  collection_recovery_fee     1432440 non-null  float64
 32  last_pymnt_amnt             1432440 non-null  float64
 33  collections_12_mths_ex_med  1432440 non-null  float64
 34  policy_code                 1432440 non-null  float64
 35  application_type            1432440 non-null  string
 36  acc_now_delinq              1432440 non-null  float64
 37  tot_coll_amt                1432440 non-null  float64
 38  tot_cur_bal                 1432440 non-null  float64
 39  total_rev_hi_lim            1432440 non-null  float64
 40  acc_open_past_24mths        1432440 non-null  float64
 41  chargeoff_within_12_mths    1432440 non-null  float64
 42  delinq_amnt                 1432440 non-null  float64
 43  mo_sin_old_rev_tl_op        1432440 non-null  float64
 44  mo_sin_rcnt_rev_tl_op       1432440 non-null  float64
 45  mo_sin_rcnt_tl              1432440 non-null  float64
 46  mort_acc                    1432440 non-null  float64
 47  num_accts_ever_120_pd       1432440 non-null  float64
 48  num_actv_bc_tl              1432440 non-null  float64
 49  num_actv_rev_tl             1432440 non-null  float64
 50  num_bc_sats                 1432440 non-null  float64
 51  num_bc_tl                   1432440 non-null  float64
 52  num_il_tl                   1432440 non-null  float64
 53  num_op_rev_tl               1432440 non-null  float64
 54  num_rev_accts               1432440 non-null  float64
 55  num_rev_tl_bal_gt_0         1432440 non-null  float64
 56  num_sats                    1432440 non-null  float64
 57  num_tl_30dpd                1432440 non-null  float64
 58  num_tl_90g_dpd_24m          1432440 non-null  float64
 59  num_tl_op_past_12m          1432440 non-null  float64
 60  pub_rec_bankruptcies        1432440 non-null  float64
 61  tax_liens                   1432440 non-null  float64
 62  tot_hi_cred_lim             1432440 non-null  float64
 63  total_bal_ex_mort           1432440 non-null  float64
 64  total_bc_limit              1432440 non-null  float64
 65  total_il_high_credit_limit  1432440 non-null  float64
 66  hardship_flag               1432440 non-null  string
 67  debt_settlement_flag        1432440 non-null  string
dtypes: float64(52), string(16)
memory usage: 754.1 MB

In [15]:
import pandas as pd

# สมมติว่า df ได้รับการกำหนดค่าอย่างถูกต้องตามโค้ดก่อนหน้านี้

# แปลงประเภทข้อมูลและสร้างสำเนาใหม่ทันทีเพื่อใช้งาน
df_prepared = nullNull_df.copy()
df_prepared['issue_d'] = pd.to_datetime(df_prepared['issue_d'], format='%b-%Y')

if df_prepared['int_rate'].dtype == 'string':
    df_prepared['int_rate'] = df_prepared['int_rate'].str.rstrip('%').astype('float') / 100.0

# สร้าง Dimension Tables
home_ownership_dim = df_prepared[['home_ownership']].drop_duplicates().reset_index(drop=True)
home_ownership_dim.reset_index(inplace=True)
home_ownership_dim['home_ownership_id'] = home_ownership_dim.index

loan_status_dim = df_prepared[['loan_status']].drop_duplicates().reset_index(drop=True)
loan_status_dim.reset_index(inplace=True)
loan_status_dim['loan_status_id'] = loan_status_dim.index

# สร้าง Dimension Table สำหรับ issue_d
issue_d_dim = df_prepared[['issue_d']].drop_duplicates().reset_index(drop=True)

issue_d_dim['month'] = issue_d_dim['issue_d'].dt.month
issue_d_dim['year'] = issue_d_dim['issue_d'].dt.year


issue_d_dim.reset_index(inplace=True)
issue_d_dim['issue_d_id'] = issue_d_dim.index

# สร้าง mapping สำหรับ Dimension Tables
home_ownership_map = home_ownership_dim.set_index('home_ownership')['home_ownership_id'].to_dict()
loan_status_map = loan_status_dim.set_index('loan_status')['loan_status_id'].to_dict()
issue_d_map = issue_d_dim.set_index('issue_d')['issue_d_id'].to_dict()

# สร้าง Fact Table ใหม่จาก DataFrame ที่เตรียมไว้
loans_fact = df_prepared.copy()
loans_fact['home_ownership_id'] = loans_fact['home_ownership'].map(home_ownership_map)
loans_fact['loan_status_id'] = loans_fact['loan_status'].map(loan_status_map)
loans_fact['issue_d_id'] = loans_fact['issue_d'].map(issue_d_map)

# เลือกคอลัมน์ที่จำเป็นสำหรับ Fact Table
loans_fact = loans_fact[['application_type','loan_amnt', 'funded_amnt', 'term', 'int_rate', 'installment', 'home_ownership_id', 'loan_status_id', 'issue_d_id']]

In [16]:
nullNull_df.groupby('issue_d').size()

issue_d
Apr-2016     36432
Apr-2018     42928
Aug-2016     36280
Aug-2018     46079
Dec-2016     36183
Dec-2018     40134
Feb-2016     39529
Feb-2017    111052
Feb-2018     32746
Feb-2019     35985
Jan-2016     32366
Jan-2017    127340
Jan-2018     36347
Jan-2019     43584
Jul-2016     34696
Jul-2018     43089
Jun-2016     33019
Jun-2018     41533
Mar-2016     61992
Mar-2017    148724
Mar-2018     38771
Mar-2019     36106
May-2016     28403
May-2018     46311
Nov-2016     34591
Nov-2018     41973
Oct-2016     32772
Oct-2018     46305
Sep-2016     28144
Sep-2018     39026
dtype: int64

In [17]:
df_prepared.groupby('loan_status').size()

loan_status
Charged Off           147348
Current               702223
Default                   27
Fully Paid            551955
In Grace Period         7928
Late (16-30 days)       4207
Late (31-120 days)     18752
dtype: int64

In [18]:
df_prepared.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1432440 entries, 0 to 1432463
Data columns (total 68 columns):
 #   Column                      Non-Null Count    Dtype
---  ------                      --------------    -----
 0   loan_amnt                   1432440 non-null  float64
 1   funded_amnt                 1432440 non-null  float64
 2   funded_amnt_inv             1432440 non-null  float64
 3   term                        1432440 non-null  string
 4   int_rate                    1432440 non-null  float64
 5   installment                 1432440 non-null  float64
 6   grade                       1432440 non-null  string
 7   sub_grade                   1432440 non-null  string
 8   home_ownership              1432440 non-null  string
 9   annual_inc                  1432440 non-null  float64
 10  verification_status         1432440 non-null  string
 11  issue_d                     1432440 non-null  datetime64[ns]
 12  loan_status                 1432440 non-null  string
 13  pymnt_plan                  1432440 non-null  string
 14  purpose                     1432440 non-null  string
 15  addr_state                  1432440 non-null  string
 16  delinq_2yrs                 1432440 non-null  float64
 17  earliest_cr_line            1432440 non-null  string
 18  open_acc                    1432440 non-null  float64
 19  pub_rec                     1432440 non-null  float64
 20  revol_bal                   1432440 non-null  float64
 21  total_acc                   1432440 non-null  float64
 22  initial_list_status         1432440 non-null  string
 23  out_prncp                   1432440 non-null  float64
 24  out_prncp_inv               1432440 non-null  float64
 25  total_pymnt                 1432440 non-null  float64
 26  total_pymnt_inv             1432440 non-null  float64
 27  total_rec_prncp             1432440 non-null  float64
 28  total_rec_int               1432440 non-null  float64
 29  total_rec_late_fee          1432440 non-null  float64
 30  recoveries                  1432440 non-null  float64
 31  collection_recovery_fee     1432440 non-null  float64
 32  last_pymnt_amnt             1432440 non-null  float64
 33  collections_12_mths_ex_med  1432440 non-null  float64
 34  policy_code                 1432440 non-null  float64
 35  application_type            1432440 non-null  string
 36  acc_now_delinq              1432440 non-null  float64
 37  tot_coll_amt                1432440 non-null  float64
 38  tot_cur_bal                 1432440 non-null  float64
 39  total_rev_hi_lim            1432440 non-null  float64
 40  acc_open_past_24mths        1432440 non-null  float64
 41  chargeoff_within_12_mths    1432440 non-null  float64
 42  delinq_amnt                 1432440 non-null  float64
 43  mo_sin_old_rev_tl_op        1432440 non-null  float64
 44  mo_sin_rcnt_rev_tl_op       1432440 non-null  float64
 45  mo_sin_rcnt_tl              1432440 non-null  float64
 46  mort_acc                    1432440 non-null  float64
 47  num_accts_ever_120_pd       1432440 non-null  float64
 48  num_actv_bc_tl              1432440 non-null  float64
 49  num_actv_rev_tl             1432440 non-null  float64
 50  num_bc_sats                 1432440 non-null  float64
 51  num_bc_tl                   1432440 non-null  float64
 52  num_il_tl                   1432440 non-null  float64
 53  num_op_rev_tl               1432440 non-null  float64
 54  num_rev_accts               1432440 non-null  float64
 55  num_rev_tl_bal_gt_0         1432440 non-null  float64
 56  num_sats                    1432440 non-null  float64
 57  num_tl_30dpd                1432440 non-null  float64
 58  num_tl_90g_dpd_24m          1432440 non-null  float64
 59  num_tl_op_past_12m          1432440 non-null  float64
 60  pub_rec_bankruptcies        1432440 non-null  float64
 61  tax_liens                   1432440 non-null  float64
 62  tot_hi_cred_lim             1432440 non-null  float64
 63  total_bal_ex_mort           1432440 non-null  float64
 64  total_bc_limit              1432440 non-null  float64
 65  total_il_high_credit_limit  1432440 non-null  float64
 66  hardship_flag               1432440 non-null  string
 67  debt_settlement_flag        1432440 non-null  string
dtypes: datetime64[ns](1), float64(53), string(14)
memory usage: 754.1 MB

In [19]:
df_prepared.groupby('int_rate').size()

int_rate
0.0531     8613
0.0532    36953
0.0600      493
0.0607     5019
0.0608     2968
          ...
0.3079     1223
0.3084      676
0.3089      484
0.3094      324
0.3099      464
Length: 258, dtype: int64

In [20]:
import pandas as pd

# กำหนดข้อมูลและเตรียมข้อมูล df_prepared, loans_fact, home_ownership_dim, loan_status_dim, และ issue_d_dim

# Join `loans_fact` กับ `home_ownership_dim` โดยใช้ 'home_ownership_id'
loans_fact_with_home_ownership = pd.merge(loans_fact, home_ownership_dim, on='home_ownership_id', how='left', suffixes=('', '_home_ownership'))

# Join ผลลัพธ์กับ `loan_status_dim` โดยใช้ 'loan_status_id'
loans_fact_with_home_ownership_with_loan_status = pd.merge(loans_fact_with_home_ownership, loan_status_dim, on='loan_status_id', how='left', suffixes=('', '_loan_status'))

# Join ผลลัพธ์กับ `issue_d_dim` โดยใช้ 'issue_d_id'
final_df = pd.merge(loans_fact_with_home_ownership_with_loan_status, issue_d_dim, on='issue_d_id', how='left', suffixes=('', '_issue_d'))

In [21]:
print(f"จำนวนแถวใน nullNull_df: {nullNull_df.shape[0]}")
print(f"จำนวนแถวใน final_df: {final_df.shape[0]}")

จำนวนแถวใน nullNull_df: 1432440
จำนวนแถวใน final_df: 1432440

In [22]:
print("การเปรียบเทียบค่า loan_amnt แบบสุ่ม:")
print(nullNull_df['loan_amnt'].head())
print(final_df['loan_amnt'].head())

การเปรียบเทียบค่า loan_amnt แบบสุ่ม:
0    12800.0
1     9000.0
2     8000.0
3    25000.0
4    35000.0
Name: loan_amnt, dtype: float64
0    12800.0
1     9000.0
2     8000.0
3    25000.0
4    35000.0
Name: loan_amnt, dtype: float64

In [23]:
print("จำนวนค่า Null ใน final_df หลังจากการ join:")
print(final_df.isnull().sum())

จำนวนค่า Null ใน final_df หลังจากการ join:
application_type     0
loan_amnt            0
funded_amnt          0
term                 0
int_rate             0
installment          0
home_ownership_id    0
loan_status_id       0
issue_d_id           0
index                0
home_ownership       0
index_loan_status    0
loan_status          0
index_issue_d        0
issue_d              0
month                0
year                 0
dtype: int64

In [24]:
loans_fact

,application_type,loan_amnt,funded_amnt,term,int_rate,installment,home_ownership_id,loan_status_id,issue_d_id
0,Individual,12800.0,12800.0,36 months,0.1199,425.09,0,0,0
1,Individual,9000.0,9000.0,36 months,0.1531,313.36,1,0,0
2,Individual,8000.0,8000.0,36 months,0.1075,260.97,1,0,0
3,Individual,25000.0,25000.0,60 months,0.1299,568.70,1,1,0
4,Individual,35000.0,35000.0,60 months,0.1825,893.54,0,0,0
...,...,...,...,...,...,...,...,...,...
1432459,Individual,5000.0,5000.0,36 months,0.1356,169.83,0,2,29
1432460,Individual,6000.0,6000.0,36 months,0.0646,183.79,0,2,29
1432461,Individual,16000.0,16000.0,36 months,0.1614,563.62,0,2,29
1432462,Individual,16000.0,16000.0,60 months,0.1131,350.36,0,2,29
1432463,Individual,29250.0,29250.0,60 months,0.1894,757.80,0,2,29

In [25]:
loans_fact.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1432440 entries, 0 to 1432463
Data columns (total 9 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   application_type   1432440 non-null  string
 1   loan_amnt          1432440 non-null  float64
 2   funded_amnt        1432440 non-null  float64
 3   term               1432440 non-null  string
 4   int_rate           1432440 non-null  float64
 5   installment        1432440 non-null  float64
 6   home_ownership_id  1432440 non-null  int64
 7   loan_status_id     1432440 non-null  int64
 8   issue_d_id         1432440 non-null  int64
dtypes: float64(4), int64(3), string(2)
memory usage: 109.3 MB

In [26]:
loan_status_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           7 non-null      int64
 1   loan_status     7 non-null      string
 2   loan_status_id  7 non-null      int64
dtypes: int64(2), string(1)
memory usage: 296.0 bytes

In [27]:
issue_d_dim.drop(columns=['index'], inplace=True)

issue_d_dim

      issue_d  month  year  issue_d_id
0  2016-03-01      3  2016           0
1  2016-02-01      2  2016           1
2  2016-01-01      1  2016           2
3  2016-06-01      6  2016           3
4  2016-05-01      5  2016           4
5  2016-04-01      4  2016           5
6  2016-09-01      9  2016           6
7  2016-08-01      8  2016           7
8  2016-07-01      7  2016           8
9  2016-12-01     12  2016           9
10 2016-11-01     11  2016          10
11 2016-10-01     10  2016          11
12 2017-03-01      3  2017          12
13 2017-02-01      2  2017          13
14 2017-01-01      1  2017          14
15 2018-03-01      3  2018          15
16 2018-02-01      2  2018          16
17 2018-01-01      1  2018          17
18 2018-06-01      6  2018          18
19 2018-05-01      5  2018          19
20 2018-04-01      4  2018          20
21 2018-09-01      9  2018          21
22 2018-08-01      8  2018          22
23 2018-07-01      7  2018          23
24 2018-12-01     12  2018          24
25 2018-11-01     11  2018          25
26 2018-10-01     10  2018          26
27 2019-03-01      3  2019          27
28 2019-02-01      2  2019          28
29 2019-01-01      1  2019          29

In [28]:
loan_status_dim.drop(columns=['index'], inplace=True)

loan_status_dim

          loan_status  loan_status_id
0          Fully Paid               0
1         Charged Off               1
2             Current               2
3  Late (31-120 days)               3
4             Default               4
5   Late (16-30 days)               5
6     In Grace Period               6

In [29]:
home_ownership_dim.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              5 non-null      int64
 1   home_ownership     5 non-null      string
 2   home_ownership_id  5 non-null      int64
dtypes: int64(2), string(1)
memory usage: 248.0 bytes

In [30]:
home_ownership_dim.drop(columns=['index'], inplace=True)

home_ownership_dim

  home_ownership  home_ownership_id
0       MORTGAGE                  0
1           RENT                  1
2            OWN                  2
3            ANY                  3
4           NONE                  4

In [31]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1432440 entries, 0 to 1432439
Data columns (total 17 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   application_type   1432440 non-null  string
 1   loan_amnt          1432440 non-null  float64
 2   funded_amnt        1432440 non-null  float64
 3   term               1432440 non-null  string
 4   int_rate           1432440 non-null  float64
 5   installment        1432440 non-null  float64
 6   home_ownership_id  1432440 non-null  int64
 7   loan_status_id     1432440 non-null  int64
 8   issue_d_id         1432440 non-null  int64
 9   index              1432440 non-null  int64
 10  home_ownership     1432440 non-null  string
 11  index_loan_status  1432440 non-null  int64
 12  loan_status        1432440 non-null  string
 13  index_issue_d      1432440 non-null  int64
 14  issue_d            1432440 non-null  datetime64[ns]
 15  month              1432440 non-null  int32
 16  year               1432440 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(2), int64(6), string(4)
memory usage: 174.9 MB

In [32]:
final_df

,application_type,loan_amnt,funded_amnt,term,int_rate,installment,home_ownership_id,loan_status_id,issue_d_id,index,home_ownership,index_loan_status,loan_status,index_issue_d,issue_d,month,year
0,Individual,12800.0,12800.0,36 months,0.1199,425.09,0,0,0,0,MORTGAGE,0,Fully Paid,0,2016-03-01,3,2016
1,Individual,9000.0,9000.0,36 months,0.1531,313.36,1,0,0,1,RENT,0,Fully Paid,0,2016-03-01,3,2016
2,Individual,8000.0,8000.0,36 months,0.1075,260.97,1,0,0,1,RENT,0,Fully Paid,0,2016-03-01,3,2016
3,Individual,25000.0,25000.0,60 months,0.1299,568.70,1,1,0,1,RENT,1,Charged Off,0,2016-03-01,3,2016
4,Individual,35000.0,35000.0,60 months,0.1825,893.54,0,0,0,0,MORTGAGE,0,Fully Paid,0,2016-03-01,3,2016
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1432435,Individual,5000.0,5000.0,36 months,0.1356,169.83,0,2,29,0,MORTGAGE,2,Current,29,2019-01-01,1,2019
1432436,Individual,6000.0,6000.0,36 months,0.0646,183.79,0,2,29,0,MORTGAGE,2,Current,29,2019-01-01,1,2019
1432437,Individual,16000.0,16000.0,36 months,0.1614,563.62,0,2,29,0,MORTGAGE,2,Current,29,2019-01-01,1,2019
1432438,Individual,16000.0,16000.0,60 months,0.1131,350.36,0,2,29,0,MORTGAGE,2,Current,29,2019-01-01,1,2019
1432439,Individual,29250.0,29250.0,60 months,0.1894,757.80,0,2,29,0,MORTGAGE,2,Current,29,2019-01-01,1,2019

In [33]:
server = '34.136.225.236'
database = 'loanDW'
username = 'SA'
password = 'Passw0rd123456'

import pandas as pd
from sqlalchemy import create_engine
import urllib

# ตั้งค่าการเชื่อมต่อกับ MSSQL โดยใช้ข้อมูลที่เหมาะสมกับสภาพแวดล้อมของคุณ
params = urllib.parse.quote_plus("DRIVER={ODBC Driver 17 for SQL Server};SERVER=server;DATABASE=database;UID=username;PWD=password")
##### engine = create_engine(f"mssql+pyodbc:///?odbc_connect={params}")
# Using pymssql
engine = create_engine(f'mssql+pymssql://{username}:{password}@{server}/{database}')


# นำเข้าข้อมูล Dimension Tables ไปยัง MSSQL ให้ตรงกับขั้นตอนการเตรียมข้อมูลที่คุณทำไว้
##### home_ownership_dim.to_sql('home_ownership_dim', con=engine, if_exists='replace', index=True, index_label='home_ownership_id')
##### loan_status_dim.to_sql('loan_status_dim', con=engine, if_exists='replace', index=True, index_label='loan_status_id')

home_ownership_dim.to_sql('home_ownership_dim', con=engine, if_exists='replace', index=False)
loan_status_dim.to_sql('loan_status_dim', con=engine, if_exists='replace', index=False)
issue_d_dim.to_sql('issue_d_dim', con=engine, if_exists='replace', index=False)



# นำเข้าข้อมูล Fact Table ไปยัง MSSQL โดยใช้ข้อมูลที่เตรียมไว้
loans_fact.to_sql('loans_fact', con=engine, if_exists='replace', index=False)